:root {
  --main-color: #00b3ff;
  --secondary-color: rgba(0,179,255,.5);
  --text-color: #3d3c3c;
}

body {
    overflow: auto;
    font-family: sans-serif;
    color: var(--text-color);
}
.container.player {
    width: 100%;
    height: auto;
    padding-top: 25px;
}
.container.json-ld {
	clear: both;
}
.container.player .plyr {
    max-height: 500px;
}
.container.sidebar {
    width: 100%;
    min-height:40vh;
    max-height: 80vh;
    overflow-y: scroll;
    background: rgba(239, 237, 237, 0.55);
    margin-top: 25px;
}
#annotations-container ul {
    padding: 0;
}
#annotations-container li {
    padding: 15px;
    list-style: none;
    min-height: 250px;
    cursor: pointer;
}
#annotations-container li.active {
    background: var(--secondary-color);
}
#annotations-container li .anno-img {
    width: 100%;
    height: auto;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #999;
}

@media screen and (min-width: 768px) {
    .container.player {
        width: 60%;
        float: left;
    }
    .container.sidebar {
        width: 40%;
        float: right;
    }
}

@media screen and (min-width: 990px) {
    .container.player {
        width: 70%;
        float: left;
    }
    .container.sidebar {
        width: 30%;
        float: right;
    }
}
