body {
    overflow: hidden;
    font-family: sans-serif;
}
.container.player {
    width: 100%;
    height: auto;
}
.container.player .plyr {
    max-height: 500px;
}
.container.sidebar {
    width: 100%;
    max-height: 100vh;
    overflow: scroll;
}
#annotations-container ul {
    padding: 0;
}
#annotations-container li {
    padding: 15px;
    list-style: none;
}
#annotations-container li.active {
    background: #ccc;
}
#annotations-container li .anno-img {
    width: 100%;
    height: auto;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #999;
}

@media screen and (min-width: 768px) {
    .container.player {
        width: 60%;
        float: left;
    }
    .container.sidebar {
        width: 40%;
        float: right;
    }
}

@media screen and (min-width: 990px) {
    .container.player {
        width: 70%;
        float: left;
    }
    .container.sidebar {
        width: 30%;
        float: right;
    }
}
