

#boombox {
	width: 65vw;
	max-width:460px;
}
.sidebar {
	width: 35vw;
	position: absolute;
	top: 0px;
	right: 0px;
	background:#fff;
	height: 100%;
	border: 3px solid ghostwhite;
}

#annotations-container, #transcript-container{
	width: 100%;
}

#annotations-container img {
	width:100%;
	height: auto;
}